/* Loader.css */

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 210, 248, 0.9); /* Light blue background with transparency */
    z-index: 9999; /* Ensure loader appears above other content */
}

.loader {
    border: 8px solid #f3f3f3; /* Light gray border */
    border-top: 8px solid #3498db; /* Blue top border */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1.5s linear infinite;
}

.project-name {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #251bb6; /* Blue text */
    font-weight: bold;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
