

.sp-root-container{
    /* background-image: url('/public/service-page-bg3.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7); */
    /* background-color: gray; */
}

#sp-title{
    text-align: center;
    color: rgb(75, 74, 74);
    margin-top: 40px;
    margin-bottom: -10px;
}

.sp-parent-container{
    margin: 40px 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* x-offset, y-offset, blur, spread, color */
}

.sp-footer-section{
    margin: 10px 80px;
    display: flex;
    justify-content: flex-start;
}

.sp-button-parent{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
