/* .sp-parent-container{
    margin: 20px;
    background-color: rgb(89, 89, 179);
    border-radius: 15px;
}

.sp-title{
    margin-top: 0.9em;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    color: white;
    overflow: hidden;
}

.sp-container{
    margin-left: 30px;
}

.sp-inner-container{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    overflow: hidden;
    margin-left: 30px;
}

.sp-inner-container > h4{
    margin-left: 80px;
    font-size: large;
    min-width: 12vw;
    margin: 35px 0px;
}

.text-container{
    background-color: white;
    border-radius: 1em;
    margin: 20px 0px;
    width: 75vw;
}

.text-container > p{
    word-wrap: break-word;
    font-size: medium;
    font-weight: 600;
    color: rgb(78, 72, 72);
}

.sp-consent{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin: 10px 50px ;

}

.sp-consent > input{
    margin-left: 10px;
    margin-right: 10px;
}

.sp-button{
    width: 20vw;
    padding: 12px;
    border-radius: 10px;
    margin-left: 40vw;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    background-color: darkcyan;
}

.sp-button:hover{
    cursor: pointer;
    background-color: rgb(8, 97, 97);
} */

.sp-root-container{
    /* background-image: url('/public/service-page-bg3.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7); */
    /* background-color: gray; */
}

#sp-title{
    text-align: center;
    color: rgb(75, 74, 74);
    margin-top: 40px;
    margin-bottom: -10px;
}

.sp-parent-container{
    margin: 40px 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* x-offset, y-offset, blur, spread, color */
}

.sp-footer-section{
    margin: 10px 80px;
    display: flex;
    justify-content: flex-start;
}

.sp-button-parent{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
