

.signup-parent-container{
  width: 65vw;
  height: 70vh;
  /* border: solid 1px black; */
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 10px;
  box-shadow: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* x-offset, y-offset, blur, spread, color */
  /* padding: 20px; */
  /* justify-content: center;
  align-items: center; */
}

.signup-text-container{
  width: 100%;
  height: 70vh;
  /* background-color: blueviolet; */
}

.signup-title{
  font: 300;
  color: rgb(30, 30, 238);
  margin-top: 30px;
  margin-bottom: 10px;
}

.signupImg{
  width: 100%;
  height: 50%;
}

.signup-form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.back-button {
  position: fixed;
  top: 20px; /* Adjust for vertical positioning */
  left: 20px; /* Adjust for horizontal positioning */
  width: 50px;
  height: 50px;
  background-color: #007bff; /* Button color */
  color: white;
  border: none;
  border-radius: 50%; /* Makes the button round */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
